:root{
    --bg-grey-light: #2c2b29;
    --bg-grey-light-2: #363533;
    --bg-grey-dark: #0f0f0f;
    --bg-grey-dark-2: #1f1f1f;

    --font-default: #d4d6d4;
    --font-dimmed: #ADADAD;
    --font-light: #ffffff;
    --font-accent: #8588ff;
    --font-accent-dark: #5151b1;

    --border-light: #555;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--bg-grey-dark);
    color: var(--font-default);
}

body, button, a, input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------------- Utility Classes -------------- */
.button-icon{
    background: transparent;
    border: none;
    padding: .4rem;
}

.invert-image{
    filter: invert();
}

.bold{
    font-weight: 600;
}

.button__primary{
    padding: .4rem 1.2rem;
    background: var(--font-accent-dark);
    border: 2px solid var(--font-accent-dark);
    color: inherit;
    border-radius: .6rem;

    &:hover{
        background: var(--font-accent);
    }
}

.button__secondary{
    padding: .4rem 1.2rem;
    background: var(--bg-grey-light);
    border: 2px solid var(--border-light);
    color: inherit;
    border-radius: .6rem;

    &:hover{
        background: var(--bg-grey-light-2);
    }
}

.button__tertiary{
    padding: .6rem 1.2rem;
    background: transparent;
    border: none;
    color: inherit;
    border-radius: .6rem;
    
    &:hover{
        background: var(--bg-grey-light-2);
    }
}

/* ------------------ Main Styles --------------- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 1.6rem;
    background: var(--bg-grey-light);
    border-bottom: 1px solid var(--bg-grey-dark-2);

    .header__left{
        flex: 1;

        .header__left-menu{
            
            svg{
                font-size: 2rem;
                color: var(--font-default);
                margin-bottom: -2px;
            }
        }
    }

    .header__center{
        flex: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;

        .header__nav{

            a{
                text-decoration: none;
                margin-right: .8rem;
                padding: .3rem;
                display: inline-block;
                border-radius: 4px;

                img{
                    filter: invert() brightness(70%);
                    margin-bottom: -2px;
                    scale: .75;
                }

                &:last-child svg{
                    color: #555;
                }
            }
        }

        .header__search{
            display: flex;
            align-items: center;
            border: 1px solid var(--border-light);
            background: var(--bg-grey-dark);
            border-radius: .5rem;
            width: 35vw;
            overflow: hidden;

            .search-icon{
                padding: .5rem 0 .5rem 2rem;

                svg{
                    font-size: 2rem;
                    color: #999;
                    margin-bottom: -1px;
                }
            }
            
            .search-input{
                background: inherit;
                font-size: 1.4rem;
                padding: .8rem 1rem;
                width: 100%;
                border: none;
                outline: none;
                color: #eee;

                &::placeholder{
                    color: #aaa;
                }
            }
        }
    }

    .header__right{
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1.8rem;

        .header__profile img{
            width: 3rem;
            border-radius: 50%;
        }

        a{
            display: inline-block;
        }

        .header__right-options{
            svg{
                font-size: 2rem;
                color: var(--font-default);
                margin-bottom: -2px;
            }
        }
    }
}

main{
    display: flex;
    height: 100%;
    overflow: hidden;

    .content{
        width: 100%;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

.sidebar{
    width: 6.8rem;
    background: var(--bg-grey-light);

    .sidebar__item{
        width: 100%;
        background: inherit;
        color: inherit;
        border: none;
        padding: .8rem 0;
        transition: background .2s;

        &:hover{
            background: var(--border-light);
        }

        .icon{
            padding-bottom: .4rem;

            img{
                width: 2.4rem;
                filter: brightness(80%);
            }
        }

        span{
            display: block;

            svg{
                color: var(--font-default);
            }
        }
    }

    .highlighted{
        color: var(--font-accent);
        border-left: 2px solid var(--font-accent);

        span > svg{
            color: var(--font-accent);
        }
    }
}

.header-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.4rem;
    background: var(--bg-grey-dark-2);
    border-bottom: 1px solid var(--bg-grey-dark);

    .header-2__left{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--font-light);

        .header__icon{
            padding: .8rem;
            background: var(--font-accent-dark);
            border-radius: .6rem;

            svg{
                margin-bottom: -2px;
                color: var(--font-light);
            }
        }

        .header__name{
            font-size: 2rem;
        }
    }

    .header-2__right{
        display: flex;
        gap: 1rem;

        button{
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            gap: .8rem;

            span{
                font-size: 2rem;
            }
            svg{
                color: inherit;
            }
        }

        .button-group{
            border-radius: .6rem;
            overflow: hidden;
            padding: none;
            background: var(--font-accent-dark);
            color: inherit;
            border: none;
            
            .left-part, .right-part{
                padding: .4rem .8rem;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
            }

            .left-part{
                border-right: 1px solid var(--bg-grey-light);
            }
        }
    }
}

.toolbar{
    display: flex;
    justify-content: space-between;
    padding: .8rem 2.4rem;
    background: var(--bg-grey-dark-2);
    border-bottom: 1px solid var(--bg-grey-dark);

    .toolbar__left, .toolbar__right{
        display: flex;
        align-items: center;
        gap: 1rem;

        button{
            border: none;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                filter: invert() brightness(70%);
                margin-bottom: -2px;
                scale: .75;
            }

            svg{
                color: var(--font-default);
            }
        }

        .bold{
            color: var(--font-light);
        }
    }
}

.calendar{
    flex: 1;
    display: flex;
    overflow: hidden;

    table{
        flex: 1;
        overflow: scroll;
    }
}