:root{
    --bg-grey-light: #2c2b29;
    --bg-grey-light-2: #363533;
    --bg-grey-light-3: #292929;
    --bg-grey-dark: #050505;
    --bg-grey-dark-2: #1f1f1f;
    --bg-grey-dark-3: #242424;

    --font-default: #d4d6d4;
    --font-dimmed: #ADADAD;
    --font-light: #ffffff;
    --font-accent: #8588ff;
    --font-accent-dark: #5151b1;
    --font-accent-dark-2: #3d3e77;
    --font-accent-light: #c4c9fb;

    --border-light: #555;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--bg-grey-dark);
    color: var(--font-default);
}

body, button, a, input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button, a{
    cursor: pointer;
}

/* ------------- Utility Classes -------------- */
.button-icon{
    background: transparent;
    border: none;
    padding: .4rem;
}

.invert-image{
    filter: invert();
}

.bold{
    font-weight: 600;
}

.button__primary{
    padding: .4rem 1.2rem;
    background: var(--font-accent-dark);
    border: 2px solid var(--font-accent-dark);
    color: inherit;
    border-radius: .6rem;

    &:hover{
        background: var(--font-accent);
    }
}

.button__secondary{
    padding: .2rem 1.2rem;
    background: var(--bg-grey-light);
    border: 2px solid var(--border-light);
    color: inherit;
    border-radius: .4rem;

    &:hover{
        background: var(--bg-grey-light-2);
    }
}

.button__tertiary{
    padding: .6rem 1.2rem;
    background: transparent;
    border: none;
    color: inherit;
    border-radius: .4rem;
    
    &:hover{
        background: var(--bg-grey-light-2);
    }
}

/* ------------------ Main Styles --------------- */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 1.6rem;
    background: var(--bg-grey-light);
    border-bottom: 1px solid var(--bg-grey-dark-2);

    .header__left{
        flex: 1;

        .header__left-menu{
            
            svg{
                font-size: 2rem;
                color: var(--font-default);
                margin-bottom: -2px;
            }
        }
    }

    .header__center{
        flex: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;

        .header__nav{

            a{
                text-decoration: none;
                margin-right: .8rem;
                padding: .3rem;
                display: inline-block;
                border-radius: 4px;

                img{
                    filter: invert() brightness(70%);
                    margin-bottom: -2px;
                    scale: .75;
                }

                &:last-child svg{
                    color: #555;
                }
            }
        }

        .header__search{
            display: flex;
            align-items: center;
            border: 1px solid var(--border-light);
            background: var(--bg-grey-dark);
            border-radius: .5rem;
            width: 35vw;
            overflow: hidden;

            .search-icon{
                padding: .5rem 0 .5rem 2rem;

                svg{
                    font-size: 2rem;
                    color: #999;
                    margin-bottom: -1px;
                }
            }
            
            .search-input{
                background: inherit;
                font-size: 1.4rem;
                padding: .8rem 1rem;
                width: 100%;
                border: none;
                outline: none;
                color: #eee;

                &::placeholder{
                    color: #aaa;
                }
            }
        }
    }

    .header__right{
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1.8rem;

        .header__profile img{
            width: 3rem;
            border-radius: 50%;
        }

        a{
            display: inline-block;
        }

        .header__right-options{
            svg{
                font-size: 2rem;
                color: var(--font-default);
                margin-bottom: -2px;
            }
        }
    }
}

main{
    display: flex;
    overflow: hidden;
    flex-grow: 1;

    .content{
        width: 100%;
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}

.sidebar{
    width: 6.8rem;
    background: var(--bg-grey-light);

    .sidebar__item{
        width: 100%;
        background: inherit;
        color: inherit;
        border: none;
        padding: .8rem 0;
        transition: background .2s;

        &:hover{
            background: var(--border-light);
        }

        .icon{
            padding-bottom: .4rem;

            img{
                width: 2.4rem;
                filter: brightness(80%);
            }
        }

        span{
            display: block;

            svg{
                color: var(--font-default);
            }
        }
    }

    .highlighted{
        color: var(--font-accent);
        border-left: 2px solid var(--font-accent);

        span > svg{
            color: var(--font-accent);
        }
    }
}

.header-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2.4rem;
    background: var(--bg-grey-dark-2);
    border-bottom: 1px solid var(--bg-grey-dark);

    .header-2__left{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--font-light);

        .header__icon{
            padding: .8rem;
            background: var(--font-accent-dark);
            border-radius: .6rem;

            svg{
                margin-bottom: -2px;
                color: var(--font-light);
            }
        }

        .header__name{
            font-size: 2rem;
        }
    }

    .header-2__right{
        display: flex;
        gap: 1rem;
        
        button{
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            gap: .8rem;
            font-weight: 500;

            span{
                font-size: 2rem;
            }
            svg{
                color: inherit;
            }
        }

        .button-group{
            border-radius: .4rem;
            overflow: hidden;
            padding: none;
            color: inherit;
            border: none;
            background: var(--font-accent-dark);
            
            .left-part, .right-part{
                padding: .2rem .8rem;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                height: 100%;
            }

            .left-part{
                border-right: 1px solid var(--bg-grey-light);

                svg{
                    margin: 0 .4rem;
                }
            }

            .right-part{
                padding-left: 0;
            }
        }
    }
}

.toolbar{
    display: flex;
    justify-content: space-between;
    padding: .8rem 2.4rem;
    background: var(--bg-grey-dark-2);
    border-bottom: 1px solid var(--bg-grey-dark);

    .toolbar__left, .toolbar__right{
        display: flex;
        align-items: center;
        gap: 1rem;

        button{
            border: none;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            img{
                filter: invert() brightness(70%);
                margin-bottom: -2px;
                scale: .75;
            }

            svg{
                color: var(--font-default);
            }

            &:hover{
                svg{
                    color: var(--font-accent);
                    fill: var(--font-accent-dark-2);
                }

                .no-fill{
                    fill: var(--font-accent);
                }
            }
        }

        .bold{
            color: var(--font-light);
        }
    }
}

.calendar{
    flex: 1;
    display: flex;
    overflow: hidden;

    table{
        flex-grow: 1;
        background: var(--bg-grey-dark-2);
        border-bottom: 1px solid var(--bg-grey-dark);
        border-collapse: collapse;
        overflow-y: auto;
        table-layout: fixed;
        width: 90%;


        thead {
            th{
                text-align: left;
                padding: .8rem;
                width: auto;
                
                .date{
                    font-size: 2.4rem;
                    font-weight: 400;
                    display: block;
                    margin-bottom: .4rem;
                }

                .day{
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }

            .highlight{
                border-top: 2px solid var(--font-accent);
                color: var(--font-accent);
            }
        }

        tbody {
            tr{
                td{
                    padding: .4rem;
                    vertical-align: middle;
                    height: 5rem;

                    &:nth-child(1), &:nth-child(7){
                        background: var(--bg-grey-dark-3);
                    }


                    .event{
                        padding: .4rem;
                        background: var(--font-accent-dark-2);
                        color: var(--font-accent-light);
                        display: flex;
                        align-items: center;
                        gap: .4rem;
                        border-left: 4px solid var(--font-accent);
                        border-radius: .6rem;

                        .event__info{
                            flex-grow: 1;
                            
                            .event__name{
                                font-weight: 500;
                                margin-bottom: 4px;
                            }

                            div{
                                font-size: 1.2rem;
                            }
                        }

                        .event__actions{
                            padding: .4rem;
                            button{
                                border: none;
                                padding: .6rem;
                                font-size: 1.2rem;
                                border-radius: .4rem;
                                font-weight: 600;
                                background-color: var(--font-accent);
                                color: var(--font-accent-dark-2);
                            }
                        }
                    }

                    .done{
                        border-color: var(--font-accent-dark);

                        .event__actions button{
                            display: none;
                        }
                    }
                }

                &:nth-child(odd) > td:not(:first-child) {
                    border-bottom: 1px dashed var(--bg-grey-dark);
                    
                    &:nth-child(2), &:nth-child(8){
                        background: var(--bg-grey-dark-3);
                    }

                    &:nth-child(7){
                        background: inherit;
                    }
                }
            }

            .time{
                text-align: center;
                width: 5rem;
                vertical-align: text-top;
                padding: .4rem;
                background: var(--bg-grey-dark-2) !important;
            }
        }

        td, th {
            border-right: 1px solid var(--bg-grey-dark);
            border-bottom: 1px solid var(--bg-grey-dark);
        }
    }
}